*{
    margin: 0;

}

.container{
    width:100%;
    margin:auto;

}

header{
    display:flex;
    justify-content: space-between;
    background-color: rgb(212, 136, 14);
    color:white;
    padding:10px;
}

header li{
    display:inline-block;
    font-size: 20px;
    padding:5px;
    

}

header a{
    text-decoration: none;
}

.row{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap ;
    padding:20px;


}


.box{
    width:500px;
    padding:50px;
}


.btn-hire{
    background-color: rgb(212, 136, 14);
    color:white;
    margin-top:10px;
    padding:10px;
    border-radius: 10px;
    

}


.summary{
    font-size:20px;
    margin-top:10px;

}

img{
    width:300px;
    height:300;
    border-radius: 50%;
}

.title{
    font-size: 20px;
}