*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: white;
    width:100%;
    height: auto;
    background-color: white;

}



.container{
    display:flex;
    justify-content: space-between;
    justify-content: space-between;
    align-items: center;
    margin:0px; 
    border: 1px solid black;
    padding:10px;
          }









.search .select,.drop-box{
    width:300px;
    padding:10px;
    border-radius: 5px;
    border:transparent;
    background-color: rgb(221, 228, 228);
    color: black;
    position: relative;
    cursor: pointer;
    
}






.contact{
    text-align: right;
    font-size: 15px;
    font-weight: 300;
    position: relative;
    
}



.user img{
    border-radius: 50%;
    background-color:rgb(221, 228, 228);
    
}


#menu{
    display:flex;
    color:gray;
    gap:50px;
    padding:40px 0px 40px 0px;
    
    cursor: pointer;




}

.menu-bar{
    display:flex;
    gap:20px;

}


#main-ad{
    background: url(images/background-pattern.jpg);
    width:100%;
    height: 800px;;
    display:flex;
    position: relative;
    
   
}


.left-ad{
    position:relative;
    z-index: 1;
   
    background-color:#eaf6ff;
    width:60%;
    height: 700px;
    margin-top:40px;
    margin-right:20px;
    border:transparent;
    border-radius: 12px;
    padding:70px

}

.left-ad h3{
    color: rgb(252, 225, 77);
    text-decoration: wavy;
    font-family:cursive;
    margin-bottom:30px;
    font-size: 30px;
    
}


.left-ad, h1{
     color: rgb(6, 6, 6);
    text-decoration: wavy;
    font-family:serif;
    margin-bottom:30px;
    font-size: 50px;

}


.left-ad img{
    width: 400px;
    height: auto;
    position:absolute;
    z-index: 1;
    right: 30px;
    bottom: 30px;
   
}


.shop-btn{
     padding: 10px 15px; 
     font-family: 'Times New Roman', Times, serif;   
     color:gray;
     margin-top:30px;

}

left-ad{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    
}


.top-ad{
    position: relative;
    z-index: 0;
    background-color:rgb(221, 244, 221);
    margin:40px;
    width: 700px;
    height: 330px;
    border:transparent;
    border-radius: 12px;
    padding: 50px;
}
.top-ad img{
    width: 300px;
    height: auto;
    position:absolute;
    z-index: 1;
    right: 0px;
    bottom: 0px;
}



.top-ad h3{
    color: rgb(8, 8, 8);
    text-decoration: wavy;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom:30px;
    font-size: 30px;
    
}


.top-ad, h1{
     color: rgb(6, 6, 6);
    text-decoration: wavy;
    font-family:serif;
    margin-bottom:30px;
    font-size: 50px;

}


#catagory{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}



.right-heading{
    display:flex;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-right: 20px;
}

#catagory-type{
    display:flex;
    justify-content: space-between;
    margin:30px;
    padding:30px;
    
}



.Fruits{
    border: transparent;
    width:200px;
    height: 200px;
    border-radius: 12px;
    box-shadow:5px 5px 0px  rgba(84,84,84,0.1);
    align-items: center;
    justify-content: center;
    padding:50px;
}


.Fruits img{
    width: 50px;
    margin:0px 25px 0px;
}

.Fruits h3{
    font-size: small;
    margin: 25px 0px 25px;
}


